@use "../util" as u;

%page {
  font-family: u.$font;
  margin: 0;
  padding: u.rem(15) u.rem(15) 0 u.rem(15);
  min-height: 100vh;
  box-sizing: border-box;
  background-size: cover;
  background-position: center center;
  overflow: hidden;

  @include u.breakpoint-up('xl') {
    padding: u.rem(25) u.rem(25) 0 u.rem(25);
  }
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

.home-page {
  @extend %page;
  text-align: center;
  background-image: url("../public/images/home-background.png");
}

.shop-page {
  @extend %page;
  background-image: url("../public/images/shop-background.png");
}
