@use "../util" as u;

%screen {
  font-family: u.$font;
  margin: 0;
  padding: u.rem(15) u.rem(15) 0 u.rem(15);
  min-height: 100vh;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;

  @include u.breakpoint-up('xl') {
    padding: u.rem(25) u.rem(25) 0 u.rem(25);
  }
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

.not-active{
  display:none;
}

#title-screen{
  @extend %screen;
}

#menu-screen{
  @extend %screen
}

#in-game-screen{
  @extend %screen
}

#slot-machine-screen {
  @extend %screen;
  text-align: center;
  background-image: url("../public/images/home-background.png");
}

#shop-screen {
  @extend %screen;
  background-image: url("../public/images/shop-background.png");
}

#inventory-screen{
  @extend %screen
}