body {
    margin: 0px;
    text-align: center;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover{
    position: relative;
    flex-grow: 1;
    z-index: 10;
    background-color: white;
    height: 200px;
}

.prototype-container{
    display: inline-block;
    margin: 0px auto;
    background-color: lawngreen;
}

.button-container{
    padding: 15px;
    background-color: black;
    position: relative;
    z-index: 5;
}

.spin-container{
    position: relative;
    z-index: 1;
    display: flex;
    width: 1400px;
    height: 900px;
    box-sizing: border-box;
    background-color: blue;
    overflow: hidden;
}

.spin{
    position: relative;
    width: 400px;
    height: 900px;
    margin-left: 50px;
    box-sizing: border-box;
    background-color: red;
}

.spin:last-child{
    margin-right: 50px;
}

.spin-icon-set{
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0px;
    background-image: linear-gradient(lawngreen,aqua);
}

.spin-icon-set:nth-child(2){
    background-image: linear-gradient(aqua,pink);
}

.spin-icon-set:nth-child(3){
    background-image: linear-gradient(pink,lawngreen);
}

.spin-icon{
    height: 250px;
    width: 250px;
}
