@use "../util" as u;

#in-game-screen{
  position: relative;

  &:focus{
    outline: none;
  }

  .choice-wrapper{
    position: absolute;
    left: 50%;
    top:10%;
    height:600px;
    max-width: 600px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;

    .choice-option{
      position: relative;
      background-image: url("/public/images/ui/in-game/dialogue-background.png");
      font-size: 28px;
      line-height: 92px;
      min-width: 480px;
      height: 92px;
      padding: 0 32px;
      margin: 64px 0;
      text-align: center;

      &:hover{
        cursor: pointer;
      }

      &:before, &:after{
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 12px;
        background-image: url("/public/images/ui/menu-decoration-horizontal.png");
        background-repeat: repeat-x;
        background-size: cover;
        left: 0;
      }

      &:before{
        top: 0;
      }

      &:after{
        bottom: 0;
      }

      .option-requirement{
        height: 100%;
        display: inline-block;
        margin-left: 28px;

        .option-requirement-image{
          display: inline-block;
          vertical-align: middle;
          height:65%;
          width: auto;
          margin-right: 8px;
        }
        .option-requirement-text{
          display: inline-block;
          font-size: 22px;
          height: 100%;
          line-height: 100%;
        }
      }
    }
  }

  .background{
    background-image: url("/public/images/backgrounds/title-screen-background.png");
    filter: blur(6px);
    z-index: 1;
  }

  .character-left, .character-right{
    z-index: 2;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
  }

  .character-left{
    transform: translateX(-50%);
  }

  .character-right{
    transform: translateX(50%);
  }

  .not-speaker{
    filter: brightness(65%);
  }

  .dialogue-wrapper{
    z-index: 3;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 289px;
    bottom: 5%;
    background-image: url("/public/images/ui/in-game/dialogue-background.png");
    padding: 28px 5%;

    &:before, &:after{
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 28px;
      background-image: url("/public/images/ui/menu-decoration-horizontal.png");
      left: 0;
    }

    &:before{
      top: 0;
    }

    &:after{
      bottom: 0;
    }

    .dialogue-name-left, .dialogue-name-right{
      background-image: url("/public/images/ui/in-game/flair-middle.png");
      background-repeat: repeat-x;
      position: absolute;
      top: -25px;
      font-size: 48px;
      line-height: 74px;
      text-align: center;
      font-family: u.$font;
      height:90px;

      &:before,&:after{
        position: absolute;
        background-repeat: no-repeat;
        content: "";
        height: 100%;
      }

      &:before{
        background-image: url("/public/images/ui/in-game/flair-left.png");
        width: 110px;
        left: -110px;
        top: 0;
      }

      &:after {
        background-image: url("/public/images/ui/in-game/falir-right.png");
        width: 128px;
        right: -128px;
        bottom: 18px;
      }
    }

    .dialogue-name-left{
      left: 15%;
      transform: translateX(-50%);
    }

    .dialogue-name-right{
      right: 15%;
      transform: translateX(50%);
    }

    .dialogue-text{
      font-size: 32px;
      font-family: u.$font;
    }
  }


}